<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analyse It</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
    <link th:href="@{/img/icon.png}" rel="shortcut icon"/>
    <script th:inline="javascript">
    </script>
</head>
<body>
<!-- text -->
<h1>404</h1>
<h2>This Is Not the Page You Are Looking For</h2>

<form action="/" method="GET" id="main">
    <div>
        <button>THIS IS THE WAY</button>
    </div>
</form>
<!-- text -->

</body>

<div class="footer">
    <span><a href="https://github.com/MariiaTrofimova" target="_blank"> github  </a></span>
    <span><a href="https://www.linkedin.com/in/mariiatrofimova/" target="_blank"> &#8594; linkedin  </a></span>
    <span><a href="https://t.me/kapandaw" target="_blank"> &#8594; telegram  </a></span>
</div>
</html>