<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analyse It</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
    <link th:href="@{/img/icon.png}" rel="shortcut icon"/>
    <script th:inline="javascript">
    </script>
</head>
<body>
<!-- partial:index.partial.html -->
<h1><a href="/">Analyse It</a></h1>
<h2>Analyse Your Text</h2>

<form action="/" method="POST" id="textForm">
    <div>
        <textarea minlength="1" maxlength="2048" name="text" id="text"
                  placeholder="Paste Your Text Here. Max 2048 symbols"></textarea>
        <br/>
        <button>Go</button>
    </div>
</form>
<!-- partial -->

</body>

<div class="footer">
    <span><a href="https://github.com/MariiaTrofimova" target="_blank"> github  </a></span>
    <span><a href="https://www.linkedin.com/in/mariiatrofimova/" target="_blank"> &#8594; linkedin  </a></span>
    <span><a href="https://t.me/kapandaw" target="_blank"> &#8594; telegram  </a></span>
</div>
</html>
